{% block document_url %}
{% spaceless -%}
    {{ carew.relativeRoot }}/{{ document.path }}
{%- endspaceless %}
{% endblock %}

{% block document_title %}
{% spaceless -%}
    {{ document.title }}
{%- endspaceless %}
{% endblock %}

{% block document_description %}
{% spaceless -%}
    {{ document.description }}
{%- endspaceless %}
{% endblock %}

{% block document_toc %}
{% spaceless -%}
    @TODO: TOC
{%- endspaceless %}
{% endblock %}

{% block documents %}
{% spaceless -%}
    <ul class="{% block ul_class '' %}">
        {% for document in documents %}
            <li class="{% block li_class '' %}">
                {% block document_list %}
                        <a href="{{ render_document_url(document) }}">
                            {{ render_document_title(document) }}
                        </a>
                {% endblock %}
            </li>
        {% endfor %}
    </ul>
{%- endspaceless %}
{% endblock %}

{% block post %}
{% spaceless -%}
    {{ document.metadatas.date|date('M d') }}: {{ document.title|title }}
{%- endspaceless %}
{% endblock %}

{% block page %}
{% spaceless -%}
    {{ document.title|title }}
{%- endspaceless %}
{% endblock %}

{% block api %}
{% spaceless -%}
    {{ document.title|title }}
{%- endspaceless %}
{% endblock %}

{% block unknown %}
{% spaceless -%}
    {{ document.title|title }}
{%- endspaceless %}
{% endblock %}

{% block pagination %}
{% spaceless %}
    <ul>
        {% for page_number, document in pages %}
            <li{% if current_page == page_number %} class="active"{% endif %}>
                <a href="{{ render_document_url(document) }}">page {{ page_number }}</a>
            </li>
        {% endfor %}
    </ul>
{% endspaceless %}
{% endblock %}
