{% block document_path %}
{% spaceless -%}
    {% if '.' == carew.relativeRoot %}
        {{ document.path }}
    {% else %}
        {{ carew.relativeRoot }}/{{ document.path }}
    {% endif %}
{%- endspaceless %}
{% endblock %}

{% block document_link %}
{% spaceless -%}
    <a href="{{ render_document_path(document) }}"{% for k,v in attrs %} {{ k }}="{{ v }}"{% endfor %}>{{ title }}</a>
{%- endspaceless %}
{% endblock %}

{% block document_title %}
{% spaceless -%}
    {{ document.title|capitalize }}
{%- endspaceless %}
{% endblock %}

{% block document_toc %}
{% spaceless -%}
    <ul>
        {% for child in children %}
            <li>
                <a href="#{{ child.id}}">{{ child.title }}</a>
                {% if child.children %}
                    {{ render_document_toc(child.children) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{%- endspaceless %}
{% endblock %}

{% block documents %}
{% spaceless -%}
    <ul class="{% block ul_class '' %}">
        {% for document in documents %}
            <li class="{% block li_class '' %}">
                {% block document_list %}
                        <a href="{{ render_document_path(document) }}">
                            {{ render_document_title(document) }}
                        </a>
                {% endblock %}
            </li>
        {% endfor %}
    </ul>
{%- endspaceless %}
{% endblock %}

{% block post %}
    <h2>
        <a href="{{ render_document_path(document) }}">
            {{ render_document_title(document) }}
        </a>
        <small>
            {{ document.metadatas.date|date('M d') }}
            {% if document.metadatas.author is defined %}
                by {{ document.metadatas.author }}
            {% endif %}
        </small>
    </h2>
    {{ document.body|raw }}
{% endblock %}

{% block page %}
{% spaceless -%}
    <h2>
        {{ render_document_title(document) }}
    </h2>
    {{ document.body|raw }}
{%- endspaceless %}
{% endblock %}

{% block api %}
{% spaceless -%}
    <h2>
        {{ render_document_title(document) }}
    </h2>
    {{ document.body|raw }}
{%- endspaceless %}
{% endblock %}

{% block unknown %}
{% spaceless -%}
    <h2>
        {{ render_document_title(document) }}
    </h2>
    {{ document.body|raw }}
{%- endspaceless %}
{% endblock %}

{% block pagination %}
{% spaceless %}
    {% if 1 < pages|length %}
        <ul>
            {% for page_number, document in pages %}
                <li{% if current_page == page_number %} class="active"{% endif %}>
                    <a href="{{ render_document_path(document) }}">page {{ page_number }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endspaceless %}
{% endblock %}
